<h2>2023</h2>
<ul>
<li><a href="https://openaccess.thecvf.com/content/CVPR2023/papers/Wei_Enhancing_the_Self-Universality_for_Transferable_Targeted_Attacks_CVPR_2023_paper.pdf">Enhancing the Self-Universality for Transferable Targeted Attacks</a>.<br>**Zhipeng Wei**, Jingjing Chen, Zuxuan Wu, Yu-Gang Jiang  <i>IEEE Conference on Computer Vision and Pattern Recognition (**CVPR**)</i>, 2023. [<a href="javascript:copy(div0, bib0)">bib</a>]
[<a href="https://github.com/zhipeng-wei/Self-Universality">code</a>]<br>
<div id="div0"></div><div id="bib0" style="display:none">
<div class="bib">
<pre>
@inproceedings{wei2023enhancing,
  title={Enhancing the Self-Universality for Transferable Targeted Attacks},
  author={Wei, Zhipeng and Chen, Jingjing and Wu, Zuxuan and Jiang, Yu-Gang},
  booktitle={Proceedings of the IEEE/CVF Conference on Computer Vision and Pattern Recognition},
  pages={12281--12290},
  year={2023}
}
</pre>
</div>
</div> </li>
